<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Targets.Gelf" />
    </extensions>

  <targets async="true" timeToSleepBetweenBatches="1000">
    <target name="GraylogUdp" type="GelfUdp" gelfserver="192.168.53.10" port="12201" maxchunksize="8154">
      <parameter name="source_method" layout="${callsite}" />
      <parameter name="source_line" layout="${callsite-linenumber}" />
    </target>
    <target name="GraylogHttp" type="GelfHttp" gelfserver="http://192.168.53.10:12201">
      <parameter name="source_method" layout="${callsite}" />
      <parameter name="source_line" layout="${callsite-linenumber}" />
    </target>
  </targets>

  <rules>
    <logger name="*" minLevel="Trace" appendTo="GraylogHttp"/>
  </rules>

</nlog>
