<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  This file needs to be put in the application directory. Make sure to set 
  'Copy to Output Directory' option in Visual Studio.
  -->
<nlog throwExceptions="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <extensions>
        <add assembly="NLog.Targets.Gelf" />
    </extensions>

    <targets async="true" timeToSleepBetweenBatches="1000">
        <target name="Graylog" type="Gelf" parameters="key, value; key2, value2;" gelfserver="" port="12201" maxchunksize="8154" />
    </targets>

    <rules>
        <logger name="*" minLevel="Trace" appendTo="Graylog"/>
    </rules>

</nlog>
